
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
	font-family: 'Roboto Condensed', sans-serif;
}

#MoneyDisplay {
	height: 20%; width: 20%;
	margin-top: 45%;

	color: white;

	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	
}

#CashDiv, #BankDiv, #DirtyMoneyDiv, #JobDiv {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px; border-radius: 30px;
	width: 150px; height: 30px;

	display: flex;
	justify-content: left;
	align-items: center;

	font-size: 13px;
	padding-left: 10px;
	margin: 5px;
}

#JobDiv { 
	width: 250px;
}

#PlayerList {
	width: 100%; height: 100%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%; left: 50%;
	background-color: rgba(0, 255, 255, 0.123);

	overflow-y: auto;
}

#PLBody {
	background-color: white;

	width: 40%; height: 40%;

	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%; left: 50%;

	overflow-y: auto;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

#PLBody::-webkit-scrollbar {
    border: 1px;
    width: 6px;
    border-radius: 20px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}
#PLBody::-webkit-scrollbar-thumb {
    border: 1px;
    height: 5px;
    border-radius: 20px;
    background-color: darkgray;
}

#topBar {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	background-color: rgb(116, 157, 211);
}